@import '~font-awesome/css/font-awesome.min.css';

/* space */
$space-50: 50px;
$space-40: 40px;
$space-30: 30px;
$space-20: 20px;
$space-15: 15px;
$space-10: 10px;

$theme-padding: 10px;
$theme-padding-default: 5px;

/* font */
$font-15: 15px;
$font-20: 20px;
$font-40: 40px;
$font-greeting: 40px;

/* color */
$color-theme: #fc7f1a;
$color-theme-blue: #4384e6;
$color-theme-second: #393e46;
$color-theme-third: #00adb5;
$color-theme-fourth: #eeeeee;
$color-input-focus: tint($color-theme, 20);
$color-border: #c9c9c9;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

/* ios disable rounding */
input {
  -webkit-border-radius: 0px;
}

#divider {
  position: relative;
  height: 10px;
  background-color: $color-border;
  margin-bottom: 10px;

  div {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: #a0a0a0;
  }
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34363d;
  opacity: 0.8;
  z-index: 1;
}

// 상품등록 팝업
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34363d;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-wrapper {
    background-color: white;
    width: 250px;
    height: 140px;
    display: flex;
    flex-direction: column;

    .content-wrapper {
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .button-wrapper {
      height: 50px;
      background-color: $color-theme-third;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: white;
    }
  }
}

.full-block {
  display: block;
  width: 100%;
  height: 100%;
}

.full-block.center {
  display: flex;
  font-size: 50px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}

/**
*  로그인폼
*/
.mobile-auth-wrapper {
  height: 100%;
  background-image: url('/img/img01.png');
  background-size: cover;
}

.login-form {
  height: 65%;
  margin-bottom: -40px;
  padding: 0 50px;
  color: white;
  font-weight: 100;
  font-size: 14px;

  h1 {
    text-align: center;
    margin: 100px 0;
  }

  .login-label {
    display: block;
    margin-bottom: 0;
    padding-left: 10px;
  }

  .login-label.login-email {
    display: inline-block;
  }

  .login-label.remember-email {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    float: right;

    input {
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .login-input {
    display: block;
    width: 100%;
    // margin-bottom: 25px;
    margin-bottom: 8%;
    font-size: 18px;
    outline: none;
    border-width: 0 0 1px;
    border-color: white;
    padding: 5px 10px;
    background-color: transparent;
    transition: border-color 0.5s;
    color: white;
  }

  .login-input.wrong {
    border-color: $color-theme;
  }

  // .login-input:focus {
  //   border-color: $color-input-focus;
  // }

  .btn-login {
    display: block;
    font-size: 18px;
    // margin-top: 70px;
    margin-top: 20%;
    text-align: center;
    padding: 10px;
    border: 1px solid $color-theme;
    width: 100%;
    background-color: $color-theme;
    color: white;
    outline: none;
    border-radius: 25px;
  }

  .btn-login.signup {
    background-color: white;
    color: black;
    margin-top: 10px;
  }

  .btn-login.signup.signup__page {
    // margin-top: 50px;
    margin-top: 14%;
    background-color: $color-theme;
    color: white;
  }

  .btn-login:hover {
    background-color: $color-theme;
    color: #ffffff;
  }

  .franchise-count-wrapper {
    // margin-top: 80px;
    margin-top: 25%;
    text-align: center;

    span {
      color: $color-theme;
    }
  }
}

.btn-signup {
  width: 100%;
  overflow: hidden;
  background: #2e2e2e;
  text-align: center;
  line-height: 15px;
  color: #fff;
}

/**
*  헤더
*/
.header__nav {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid;

  .header__nav__link {
    width: 50%;
    padding: $space-15;
    color: black;
    text-decoration: none;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__nav__link.on {
    background-color: $color-theme;
    color: white;
  }
}

/**
*  컨테이너
*/
.container {
  padding: $theme-padding;
}

/**
*  아이템 박스
*/
.items {
  // border: 1px solid $color-border;
  padding: $theme-padding;
  margin-bottom: $space-15;
}

.items.products {
  margin: 0;
  border-bottom: 5px solid $color-border;
  padding-right: 30px;
}

.title__big {
  // padding-bottom: 5px;
  // border-bottom: 1px solid $color-border;
  font-size: 20px;
}

.title__big.wrong {
  color: $color-theme;
}

.image__wrapper {
  // display: flex;
  // justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin-top: 15px;
}

.images {
  display: inline-block;
  margin: 0 1%;
  position: relative;
  width: 65px;
  height: 65px;
  border: 1px solid $color-border;

  label {
    width: 100%;
    height: 100%;
    display: block;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      font-weight: lighter;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/**
*  가맹점 정보
*/
.info__wrapper {
  margin-top: 10px;

  .input__box {
    padding: 5px 0;

    .input__title {
      display: inline-block;
      width: 18%;
      margin-right: 2%;
      font-size: 12px;
    }

    .input__title.wrong {
      color: $color-theme;
    }

    .input__content {
      display: inline-block;
      width: 80%;

      .input__content__field {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid $color-border;
      }

      select {
        width: 100%;
        height: 100%;
        border: 1px solid $color-border;
      }
    }
  }
}

.possible__wrapper {
  display: flex;
  justify-content: space-between;

  .possible__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 4px);
    height: 50px;
    border: 2px solid $color-border;
    border-radius: 5px;
  }

  .selected-circle {
    position: absolute;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid $color-border;
  }

  .selected-circle.on {
    background-color: black;
    border-color: black;
  }

  .possible__icon.active {
    // background-color: #77cce2;
  }
}

.address__zipcode {
  display: inline-block;
  width: 80px;
  border: 1px solid $color-border;
  text-align: center;
  padding: 5px 0;
  height: 35px;
  font-size: 13px;
}

.address__zipcode.zipcode__btn {
  width: 80px;
  background-color: $color-theme;
  padding: 5px 0;
  color: white;
  margin-left: 3px;
  font-size: 13px;
  vertical-align: bottom;
  border: none;
  line-height: 26px;
}

.default__form {
  margin-top: 10px;
  border: 1px solid $color-border;
  width: 100%;
  padding: 5px;
  height: 35px;
}

/**
*  주소검색 팝업
*/
.address__wrapper {
  position: fixed;
  padding: 10px;
  top: 5%;
  left: 5%;
  right: 5%;
  background: white;
  z-index: 200;
  max-width: 400px;
  margin: auto;
}

/**
*  가맹점정보 버튼
*/
.survay__btn__confirm__wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-top: 1px solid;
  font-size: 18px;

  .survay__btn {
    flex: auto;
    padding: 20px 0;
  }

  .survay__btn.btn__confirm {
    background-color: $color-theme;
    color: white;
    border: none;
  }
}

/**
*  판매상품
*/
.product__wrapper {
  .product__image__wrapper {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: top;
    border: 1px solid $color-border;

    .img-cover {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .product__form__wrapper {
    display: inline-block;
    width: calc(100% - 90px);
    margin-left: 10px;
    position: relative;

    input {
      border: 1px solid $color-border;
      width: calc(100% - 30px);
      padding: 8px 5px;
      font-size: 15px;
    }
  }

  .product__btn__remove {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: -10px;
    right: -30px;
    /* background-color: #222831; */
    color: black;
  }
}

/* 판매상품 추가 */
.btn__add-product {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center;
  border: 1px solid;
}

.msg-alert {
  margin-left: 5%;
  color: $color-theme;
  display: none;
  font-size: 14px;
}

.msg-alert.on {
  display: inline;
}

#icon-plus {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: $color-theme;
  color: white;
  display: inline-block;
  vertical-align: baseline;
  justify-content: center;
  line-height: 23px;
  border-radius: 10px;
}

.row-wrapper {
  display: flex;
  align-items: center;
  font-size: 15px;

  span {
    margin-right: 5px;
    width: 30px;
  }

  #currency {
    position: absolute;
    margin: 0;
    width: 15px;
    right: 10px;
  }
}

.greeting-wrapper {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-theme;
  position: relative;

  #btn-back {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1%;
    top: 3%;
    font-size: 40px;
    color: white;
  }

  div h1 {
    font-size: $font-greeting;
  }
}

@media (max-width: 320px) {
  .greeting-wrapper {
    height: 30%;
  }
}
