/* space */
$space-50: 50px;
$space-40: 40px;
$space-30: 30px;
$space-20: 20px;
$space-15: 15px;
$space-10: 10px;

$theme-padding: 10px;
$theme-padding-default: 5px;

/* font */
$font-15: 15px;
$font-20: 20px;
$font-40: 40px;

/* color */
$color-theme: #222831;
$color-theme-second: #393E46;
$color-theme-third: #00ADB5;
$color-theme-fourth: #EEEEEE;
$color-input-focus: tint($color-theme, 20);
$color-border: #c9c9c9;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// html, body, #root, .mobile-auth-wrapper {
//   min-height: 100%;
// }

.overlay.active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34363d;
  opacity: .8;
}

.full-block {
  display: block;
  width: 100%;
  height: 100%;
}

.full-block.center {
  display: flex;
  font-size: 50px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}

/**
*  로그인폼
*/
.login-form {
  // padding: 50px;
  // min-height: 100%;
  min-height:100%;
  margin-bottom: -40px;
  /* Put negative height of the footer here */
  padding-bottom: 40px;
  padding: 0 40px;

  h1 {
    text-align: center;
    margin: 100px 0;
  }

  .login-label {
    display: block;
    margin-bottom: 0;
  }

  .login-input {
    display: block;
    width: 100%;
    margin-bottom: 5%;
    font-size: 20px;
    outline: none;
    border-width: 0 0 3px;
    border-color: #000000;
    padding: 5px 0 0 0;
    background-color: transparent;
    transition: border-color .5s;
  }

  .login-input.wrong {
    border-color: red;
  }

  .login-input:focus {
    border-color: $color-input-focus;
  }

  .btn-login {
    display: block;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid $color-theme;
    width: 100%;
    background-color: white;
    transition: background-color 0.2s;
  }

  .btn-login.signup {
    background-color: black;
    color: white;
    margin-top: 15px;
  }

  .btn-login:hover {
    background-color: $color-theme;
    color: #ffffff;
  }
}

.btn-signup {
  width: 100%;
  overflow: hidden;
  background:#2E2E2E;
  text-align:center;
  line-height: 15px;
  color: #fff;
}

/**
*  헤더
*/
.header__nav {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid;

  .header__nav__link {
    width: 50%;
    padding: $space-15;
    color: black;
    text-decoration: none;
  }

  .header__nav__link.on {
    background-color: $color-theme;
    color: white;
  }
}

/**
*  컨테이너
*/
.container {
  padding: $theme-padding;
}

/**
*  아이템 박스
*/
.items {
  border: 1px solid $color-border;
  padding: $theme-padding;
  margin-bottom: $space-15;
}

.title__big {
  padding-bottom: 5px;
  border-bottom: 1px solid $color-border;
}

.image__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.images {
  position: relative;
  width: 65px;
  height: 65px;
  border: 1px solid $color-border;

  label {
    width: 100%;
    height: 100%;
    display: block;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      font-weight: lighter;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/**
*  가맹점 정보
*/
.info__wrapper {
  margin-top: 10px;

  .input__box {
    padding: 5px 0;

    .input__title {
      display: inline-block;
      width: 18%;
      margin-right: 2%;
      font-size: 12px;
    }

    .input__content {
      display: inline-block;
      width: 80%;

      .input__content__field {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid $color-border;
      }

      select {
        width: 100%;
        height: 100%;
        border: 1px solid $color-border;
      }
    }
  }
}

.possible__wrapper {
  display: flex;
  justify-content: space-between;

  .possible__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 50px;
    background-color: #c9c9c9;
  }

  .possible__icon.active {
    background-color: red;
  }
}

.address__zipcode {
  display: inline-block;
  width: 25%;
  border: 1px solid $color-border;
  text-align: center;
  padding: 5px 0;
}

.address__zipcode.zipcode__btn {
  width: 100px;
  background-color: $color-theme;
  padding: 4px 0;
  color: white;
  margin-left: 20px;
}

.default__form {
  margin-top: 5px;
  border: 1px solid $color-border;
  width: 100%;
  padding: 5px;
}

/**
*  주소검색 팝업
*/
.address__wrapper {
  position: fixed;
  padding: 10px;
  top: 5%;
  left: 5%;
  right: 5%;
  background: white;
  z-index: 200;
  max-width: 400px;
  margin: auto;
}

/**
*  가맹점정보 버튼
*/
.survay__btn__confirm__wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;

  .survay__btn {
    width: 48%;
    padding: 10px 0;
    border: 1px solid;
  }

  .survay__btn.btn__confirm {
    background-color: $color-theme;
    color: white;
    border: none;
  }
}

/**
*  판매상품
*/
.product__wrapper {
  .product__image__wrapper {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: top;
    border: 1px solid $color-border;

    .img-cover {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .product__form__wrapper {
    display: inline-block;
    width: calc(100% - 90px);
    margin-left: 10px;
    position: relative;

    input {
      border: 1px solid $color-border;
      width: calc(100% - 30px);
      padding: 8px 5px;
      font-size: 16px;
    }
  }

  .product__btn__remove {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: -11px;
    right: -10px;
    background-color: $color-theme;
    color: white;
  }
}

/* 판매상품 추가 */
.btn__add-product {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid;
}
